.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.891602;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.891602;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._6{margin-left:-1.600000px;}
._7{width:1.928000px;}
._2{width:3.760000px;}
._1{width:5.760000px;}
._a{width:6.864000px;}
._0{width:8.800000px;}
._c{width:9.840000px;}
._b{width:14.640000px;}
._3{width:15.920000px;}
._d{width:20.976000px;}
._e{width:35.952000px;}
._9{width:49.008000px;}
._5{width:62.200000px;}
._4{width:68.600000px;}
._8{width:706.560000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:32.000000px;}
.fs5{font-size:36.000000px;}
.fs1{font-size:40.000000px;}
.fs4{font-size:44.000000px;}
.fs3{font-size:48.000000px;}
.fs0{font-size:56.000000px;}
.y24{bottom:1.947001px;}
.y52{bottom:2.000000px;}
.y50{bottom:3.027999px;}
.y3f{bottom:3.195999px;}
.y27{bottom:3.922999px;}
.y28{bottom:5.898000px;}
.y25{bottom:7.122000px;}
.y23{bottom:12.296000px;}
.y4f{bottom:19.127000px;}
.y3d{bottom:27.187025px;}
.y4e{bottom:35.226001px;}
.y3c{bottom:37.752048px;}
.y3b{bottom:54.785044px;}
.y3a{bottom:65.134045px;}
.y39{bottom:75.483046px;}
.y38{bottom:85.832045px;}
.y37{bottom:96.181044px;}
.y36{bottom:106.530043px;}
.y35{bottom:116.879042px;}
.y34{bottom:127.228041px;}
.y33{bottom:137.793003px;}
.y32{bottom:149.292027px;}
.y31{bottom:160.791050px;}
.y30{bottom:178.289999px;}
.y2f{bottom:189.789000px;}
.y2e{bottom:201.287998px;}
.y2d{bottom:218.787022px;}
.y2c{bottom:230.286045px;}
.y0{bottom:239.500000px;}
.y2b{bottom:244.622044px;}
.y2a{bottom:258.958042px;}
.y29{bottom:276.024017px;}
.y26{bottom:283.993033px;}
.y22{bottom:298.793034px;}
.y21{bottom:325.154026px;}
.y20{bottom:340.722038px;}
.y1f{bottom:350.452030px;}
.y1e{bottom:364.951025px;}
.y1d{bottom:379.970025px;}
.y1c{bottom:398.422036px;}
.y1b{bottom:414.788023px;}
.y1a{bottom:429.124023px;}
.y19{bottom:442.631033px;}
.y18{bottom:454.130033px;}
.y17{bottom:468.466034px;}
.y16{bottom:486.042015px;}
.y15{bottom:495.988031px;}
.y4d{bottom:502.871021px;}
.y14{bottom:512.490013px;}
.y13{bottom:522.436029px;}
.y12{bottom:538.938011px;}
.y11{bottom:548.884027px;}
.y10{bottom:561.317020px;}
.yf{bottom:572.383026px;}
.ye{bottom:582.015018px;}
.yd{bottom:597.583030px;}
.y4c{bottom:602.061030px;}
.y51{bottom:602.061038px;}
.yc{bottom:607.313023px;}
.y4b{bottom:615.860020px;}
.yb{bottom:619.245019px;}
.y4a{bottom:629.659019px;}
.y49{bottom:643.458018px;}
.ya{bottom:645.430030px;}
.y9{bottom:655.160023px;}
.y48{bottom:657.257027px;}
.y8{bottom:666.226028px;}
.y47{bottom:671.056026px;}
.y7{bottom:675.858021px;}
.y46{bottom:684.855026px;}
.y6{bottom:693.357023px;}
.y45{bottom:698.654025px;}
.y44{bottom:712.453026px;}
.y5{bottom:724.584027px;}
.y43{bottom:726.252026px;}
.y42{bottom:740.051025px;}
.y4{bottom:752.182023px;}
.y41{bottom:753.850024px;}
.y40{bottom:767.649024px;}
.y3{bottom:768.281022px;}
.y2{bottom:784.380023px;}
.y3e{bottom:792.001025px;}
.y1{bottom:800.479024px;}
.he{height:10.000000px;}
.ha{height:14.300000px;}
.hb{height:14.998999px;}
.h8{height:20.698000px;}
.h5{height:22.218750px;}
.h9{height:24.996094px;}
.h4{height:27.773438px;}
.h7{height:30.550781px;}
.hf{height:32.507813px;}
.h6{height:32.531250px;}
.hc{height:33.328125px;}
.h3{height:37.953125px;}
.h2{height:38.882812px;}
.hd{height:48.297001px;}
.h1{height:467.000000px;}
.h0{height:841.900024px;}
.w9{width:6.800000px;}
.wc{width:9.000000px;}
.w6{width:26.250000px;}
.w2{width:27.850000px;}
.w5{width:34.900002px;}
.w4{width:42.000000px;}
.w8{width:42.049999px;}
.w3{width:148.350006px;}
.w7{width:178.350006px;}
.wa{width:246.300003px;}
.wb{width:262.350006px;}
.w1{width:508.000000px;}
.w0{width:595.299988px;}
.x1a{left:0.400000px;}
.x15{left:5.150000px;}
.xe{left:8.489000px;}
.xd{left:9.631000px;}
.x17{left:11.675000px;}
.x11{left:15.061000px;}
.x10{left:31.475001px;}
.x1c{left:51.300001px;}
.x0{left:56.000000px;}
.x18{left:78.000000px;}
.xb{left:81.352001px;}
.xf{left:85.300001px;}
.x1b{left:92.100002px;}
.x6{left:141.680004px;}
.x9{left:162.899998px;}
.x1e{left:187.230994px;}
.xa{left:199.431995px;}
.xc{left:233.700001px;}
.x1f{left:242.704994px;}
.x8{left:254.700001px;}
.x12{left:276.649998px;}
.x7{left:278.700001px;}
.x4{left:279.807007px;}
.x5{left:291.538002px;}
.x1d{left:297.600004px;}
.x19{left:308.450006px;}
.x13{left:312.050007px;}
.x1{left:326.050007px;}
.x14{left:338.800007px;}
.x2{left:441.533001px;}
.x3{left:446.100014px;}
.x16{left:517.650013px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._6{margin-left:-2.133333pt;}
._7{width:2.570667pt;}
._2{width:5.013333pt;}
._1{width:7.680000pt;}
._a{width:9.152000pt;}
._0{width:11.733333pt;}
._c{width:13.120000pt;}
._b{width:19.520000pt;}
._3{width:21.226667pt;}
._d{width:27.968000pt;}
._e{width:47.936000pt;}
._9{width:65.344000pt;}
._5{width:82.933333pt;}
._4{width:91.466667pt;}
._8{width:942.080000pt;}
.fs2{font-size:42.666667pt;}
.fs5{font-size:48.000000pt;}
.fs1{font-size:53.333333pt;}
.fs4{font-size:58.666667pt;}
.fs3{font-size:64.000000pt;}
.fs0{font-size:74.666667pt;}
.y24{bottom:2.596001pt;}
.y52{bottom:2.666667pt;}
.y50{bottom:4.037332pt;}
.y3f{bottom:4.261332pt;}
.y27{bottom:5.230666pt;}
.y28{bottom:7.864000pt;}
.y25{bottom:9.496000pt;}
.y23{bottom:16.394666pt;}
.y4f{bottom:25.502666pt;}
.y3d{bottom:36.249367pt;}
.y4e{bottom:46.968001pt;}
.y3c{bottom:50.336065pt;}
.y3b{bottom:73.046725pt;}
.y3a{bottom:86.845393pt;}
.y39{bottom:100.644061pt;}
.y38{bottom:114.442726pt;}
.y37{bottom:128.241391pt;}
.y36{bottom:142.040057pt;}
.y35{bottom:155.838722pt;}
.y34{bottom:169.637388pt;}
.y33{bottom:183.724004pt;}
.y32{bottom:199.056035pt;}
.y31{bottom:214.388067pt;}
.y30{bottom:237.719999pt;}
.y2f{bottom:253.051999pt;}
.y2e{bottom:268.383998pt;}
.y2d{bottom:291.716029pt;}
.y2c{bottom:307.048060pt;}
.y0{bottom:319.333333pt;}
.y2b{bottom:326.162725pt;}
.y2a{bottom:345.277390pt;}
.y29{bottom:368.032023pt;}
.y26{bottom:378.657378pt;}
.y22{bottom:398.390711pt;}
.y21{bottom:433.538701pt;}
.y20{bottom:454.296050pt;}
.y1f{bottom:467.269374pt;}
.y1e{bottom:486.601367pt;}
.y1d{bottom:506.626700pt;}
.y1c{bottom:531.229382pt;}
.y1b{bottom:553.050697pt;}
.y1a{bottom:572.165365pt;}
.y19{bottom:590.174711pt;}
.y18{bottom:605.506711pt;}
.y17{bottom:624.621379pt;}
.y16{bottom:648.056019pt;}
.y15{bottom:661.317375pt;}
.y4d{bottom:670.494695pt;}
.y14{bottom:683.320017pt;}
.y13{bottom:696.581373pt;}
.y12{bottom:718.584014pt;}
.y11{bottom:731.845370pt;}
.y10{bottom:748.422694pt;}
.yf{bottom:763.177368pt;}
.ye{bottom:776.020025pt;}
.yd{bottom:796.777374pt;}
.y4c{bottom:802.748041pt;}
.y51{bottom:802.748051pt;}
.yc{bottom:809.750697pt;}
.y4b{bottom:821.146693pt;}
.yb{bottom:825.660025pt;}
.y4a{bottom:839.545359pt;}
.y49{bottom:857.944024pt;}
.ya{bottom:860.573374pt;}
.y9{bottom:873.546697pt;}
.y48{bottom:876.342702pt;}
.y8{bottom:888.301371pt;}
.y47{bottom:894.741369pt;}
.y7{bottom:901.144028pt;}
.y46{bottom:913.140035pt;}
.y6{bottom:924.476031pt;}
.y45{bottom:931.538700pt;}
.y44{bottom:949.937368pt;}
.y5{bottom:966.112036pt;}
.y43{bottom:968.336034pt;}
.y42{bottom:986.734701pt;}
.y4{bottom:1002.909364pt;}
.y41{bottom:1005.133366pt;}
.y40{bottom:1023.532032pt;}
.y3{bottom:1024.374696pt;}
.y2{bottom:1045.840031pt;}
.y3e{bottom:1056.001367pt;}
.y1{bottom:1067.305365pt;}
.he{height:13.333333pt;}
.ha{height:19.066667pt;}
.hb{height:19.998666pt;}
.h8{height:27.597333pt;}
.h5{height:29.625000pt;}
.h9{height:33.328125pt;}
.h4{height:37.031250pt;}
.h7{height:40.734375pt;}
.hf{height:43.343750pt;}
.h6{height:43.375000pt;}
.hc{height:44.437500pt;}
.h3{height:50.604167pt;}
.h2{height:51.843750pt;}
.hd{height:64.396001pt;}
.h1{height:622.666667pt;}
.h0{height:1122.533366pt;}
.w9{width:9.066667pt;}
.wc{width:12.000000pt;}
.w6{width:35.000000pt;}
.w2{width:37.133334pt;}
.w5{width:46.533335pt;}
.w4{width:56.000000pt;}
.w8{width:56.066666pt;}
.w3{width:197.800008pt;}
.w7{width:237.800008pt;}
.wa{width:328.400004pt;}
.wb{width:349.800008pt;}
.w1{width:677.333333pt;}
.w0{width:793.733317pt;}
.x1a{left:0.533333pt;}
.x15{left:6.866667pt;}
.xe{left:11.318667pt;}
.xd{left:12.841333pt;}
.x17{left:15.566667pt;}
.x11{left:20.081333pt;}
.x10{left:41.966668pt;}
.x1c{left:68.400001pt;}
.x0{left:74.666667pt;}
.x18{left:104.000000pt;}
.xb{left:108.469335pt;}
.xf{left:113.733335pt;}
.x1b{left:122.800003pt;}
.x6{left:188.906672pt;}
.x9{left:217.199997pt;}
.x1e{left:249.641325pt;}
.xa{left:265.909327pt;}
.xc{left:311.600001pt;}
.x1f{left:323.606659pt;}
.x8{left:339.600001pt;}
.x12{left:368.866664pt;}
.x7{left:371.600001pt;}
.x4{left:373.076009pt;}
.x5{left:388.717336pt;}
.x1d{left:396.800005pt;}
.x19{left:411.266675pt;}
.x13{left:416.066676pt;}
.x1{left:434.733342pt;}
.x14{left:451.733342pt;}
.x2{left:588.710668pt;}
.x3{left:594.800018pt;}
.x16{left:690.200017pt;}
}
