tr:hover {
  background-color: aquamarine;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  transform: scale(1.01);
}
.table-fit {
  /* width: 1px; */
  margin: 15;
}
.tables{
  display: flex;
  max-width: 100%; 
  
}